:root{
    --black: #000;
    --white: #fff;
    --lfont: 'Lilita One';
    --hpfont: 'Montserrat Alternates';
    --hsfont: 'Abril Fatface';
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* -----------Utility Classes--------- */
.hr-1{
    width: 70%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* -----------Media Query------------ */


@media (max-width:550px) {
    html{
        font-size: 12px;
        opacity: 0.8;
    }
    .para-text{
        width: 70%;       
    }

    .second-sec-img{
        max-width: 400px;
        width: 50%;
        height: auto;
    }
   
}


/* -----------Header Section------------- */

.h-primary{
    font-family: var(--hpfont);
    color: var(--white);
    font-size: 3rem;
}

.h-secondary{
    font-family: var(--hsfont);
    color: var(--white);
    font-size: 1.7rem;
    line-height: 2;
}

.logo-text{
   font-family: var(--lfont);
}

span{
    position: relative;
    left: 8%;
}


.btn-1{
    color: var(--black);
    border-color: var(--black);
    border-radius: 10%;
}

.btn-1:hover{
    background-color: yellow;
    color: var(--black);
}

.form-control{
    font-size: 1rem;
}

/* -----------Main Section-------------- */

.main-container{
    flex-direction: column;
}

.btn-2{
    color: var(--white);
    margin-top: 1%;
    border:2px solid var(--white);
    font-size: 1.4rem;
    letter-spacing: .2rem;
}

.btn-2:hover{
    background-color:rgb(255, 255, 255);
    color: var(--black);
}

/* -----------Second Section------------ */
.second-section{
    background-color: #ECF2FF;
    padding-top: 2%;
}

.second-sec-img{
    max-width: 400px;
    width: 100%;
    height: auto;
}

.img-about-explain{
    width: 100%;
    padding-top: 5%;
}

.s-primary{
    display: inline-block;
    width: 70%;
    font-family: var(--hsfont);
    text-align: center;
}

.para-text{
    font-family: var(--hpfont);
    font-size: 1.4rem;
    width: 100%;
    line-height: 2;
    opacity: 0.6;
    text-align: left;
}

.play-btn{
    display: inline-block;
    position: relative;
    top: 3%;
}

.play-logo{
    color: cyan;
    cursor: pointer;
}


a{
    position: relative;
    top: 5%;
    left: 3%;
    color: var(--black);
    text-decoration: none;
    color: rgb(255, 30, 206);
}

a:hover{
    color: var(--black);
}


/* ---------Scrolling animattion------- */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/* -----------ABOUT SECTION------------- */

.about{
    padding-top: 7%;
    text-align: center;
}

.about-container{
    width: 90%;
    margin: auto;
    background-color: #F9F5EB;
}

h1{
    font-size: 2rem;
}

.container{
    padding: 3%;
}

.cols{
  margin-bottom: 3%;
}


/* ------SLIDER SECTION---------- */
.text-container{
    margin-top: 3%;
}

.carousel-item img{
    max-width: 90%;
    height: 80%;
    margin: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    border-radius: 50%;
}

/* -----------Footer Section------------ */
